.is-flex-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.page-top-bar
{
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.page-block
{
    padding: 72px;
    height: max-content;
    justify-content: space-around;
}

ul
{
    padding: 0px;
}